@font-face {
  font-family: cinema;
  src: url(./assets/cinema_st.ttf);
}

.headerStyles {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-family: cinema, sans-serif;
  font-size: 25px;
}

.footerStyles {
  display: flex;
  flex-direction: column;
  font-family: cinema, sans-serif;
  font-size: 25px;
}

.tvClass {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 25px;
}

.flexdiv {
  display: flex;
}

/* Modal Stykes */

.comment-modal {
  width: 50vw;
  height: 80wh;
}

.modal-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading img {
  width: 38vw;
}

.close-modal {
  position: absolute;
  top: 10;
  right: 0;
  margin-right: 2rem;
  background-color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 2rem 0 2rem;
  align-items: center;
  gap: 1rem;
}